.m-scene-business {
    .mb(50px);
    .m-title {
        gap: 10px;
    }
    .m-business-content {
        .flex;
        .pt(50px);
        gap: 24px;
        .u-item {
            .flex;
            flex: 1;
            gap: 10px;
            .u-img {
                .size(60px);
            }
            .u-box {
                .flex;
                flex-direction: column;
                gap: 14px;
                .u-title {
                    .fz(21px,30px);
                    font-weight: 500;
                }
            }
        }
    }
}
@media screen and (max-width: @phone) {
    .m-scene-business {
        .mb(30px);
        .m-business-content {
            flex-direction: column;
            .u-item {
                padding: 0 10px;
                .u-box {
                    gap: 0;
                    .u-title {
                        .fz(18px,30px);
                    }
                }
            }
        }
    }
}
