.m-scene-recommend {
    .pt(75px);
    .m-box {
        .pt(50px);
        .flex;
        gap: 24px;
        .u-item {
            flex: 1;
            .flex;
            .r(5px);
            .h(320px);
            .clip;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            background-color: #fff;
            .u-txt {
                .flex;
                flex-direction: column;
                gap: 12px;
                padding: 50px 30px 0 30px;
                .u-title {
                    .fz(24px,33px);
                    font-weight: 500;
                }
            }
            .u-button {
                .db;
                .size(100%,60px);
                .fz(21px,60px);
                .color(#fff);
                .x;
                background: linear-gradient(298deg, #fd8e8c 0%, #cf0010 100%);
                &:hover {
                    filter: brightness(110%);
                }
            }
            .m-tag {
                .flex;
                flex-direction: column;
                .u-tag {
                    .flex;
                    .fz(18px,34px);
                    font-weight: 400;
                    gap: 10px;
                }
            }
        }
    }
    .m-recommend-content.u-shadow {
        .pb(75px);
        .u-item {
            .h(348px);
            box-shadow: 0px 0px 5px 1px #e6e6e6;

            .u-txt {
                padding-top: 35px;
                gap: 8px;
                .u-desc {
                    .lh(30px);
                }
            }
        }
    }
}

@media screen and(max-width:@phone) {
    .m-scene-recommend {
        .pt(35px); 
        .m-box {
            .pt(30px);
            flex-direction: column;
            .u-item {
                .u-txt {
                    padding: 30px 20px;
                    .u-title {
                        .fz(18px,30px);
                    }
                }
                .u-button {
                    .size(100%,42px);
                    .fz(18px,42px);
                }
                .m-tag {
                    .u-tag {
                        .fz(16px,30px);
                    }
                }
            }
        }
        .m-recommend-content.u-shadow {
            .pb(35px);
            .m-box {
                .pt(25px);
                flex-direction: column;
                .u-item {
                    .size(100%,348px);
                    .u-txt {
                        padding: 20px;
                        .u-title {
                            .fz(20px,32px);
                        }
                        .u-desc {
                            .fz(16px,24px);
                        }
                    }
                }
            }
        }
    }
}
