.wp {
    max-width: 1200px;
    .auto(x);
    .color(#3c3c3c);
}

@media screen and (max-width: @phone) {
    .wp {
        max-width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

@phone: 750px;
