.m-slider .u-link {
    .db;
    .h(550px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-weight: 400;

    .wp {
        .flex;
        .color(#F8F8F8);
        .h(500px);
        flex-direction: column;
        justify-content: center;

        .u-title {
            .fz(52px);
            .mb(10px);
        }

        .u-desc {
            .fz(21px);
            .mb(75px);
        }

        .u-btn {
            .size(200px, 65px);
            .color(#fff);
            .r(5px);
            .x;
            .fz(24px, 65px);
            background-color: #cf0010;
        }
    }

    .light {
        .color(#3c3c3c);
    }
}

.el-carousel__container {
    height: 300px;
}

.el-carousel__indicators--horizontal {
    width: 1200px;
    .db;
}

.el-carousel__button {
    .size(60px, 2px);
    background: #F8F8F8;
    border-radius: 1px;
    margin-right: 5px;
}

.el-carousel__button {
    opacity: 1;
}

.el-carousel__indicator--horizontal {
    padding: 25px 4px;
}

.is-active button {
    background: #CF0010;
    border-radius: 1px;
}

@media screen and (max-width: @phone) {
    .el-carousel__container {
        height: 176px;
    }

    .m-slider .u-link {
        .h(176px);
        background-position: center top;
        background-size: 150%;
    }
}
