.m-index-scene {
    .wp {
        font-weight: 400;

        .m-tabs .m-item .u-title {
            font-weight: 500;
        }
    }

    .m-tabs {
        .flex;
        justify-content: space-between;
        .mt(50px);

        .m-item {
            .flex;
            .w(285px);
            .r(5px);
            cursor: default;
            .pr;
            min-height: 300px;
            flex-direction: column;
            gap: 20px;
            box-sizing: border-box;
            border: 0.5px solid rgba(151, 151, 151, 0.4);
            background-repeat: no-repeat;
            background-position: top center;
            transition: 0.2s ease;
            &:hover {
                transform: scale(1.03);
            }
            .u-item {
                padding: 200px 20px 20px 20px;
                color: #3c3c3c;
            }

            // background-size: 100% 185px;
            .u-line {
                .pa;
                .lt(0, 175px);
                right: 0;
                .size(100%, 20px);
                .db;
                background-color: #fff;
                .r(5px);
                overflow: hidden;
            }

            .u-img {
                .size(100%, 150px);
            }

            .u-title {
                .flex;
                .fz(21px);
                .mb(10px);
                gap: 10px;
                align-items: center;

                .u-icon {
                    .size(30px);
                }
            }

            .u-desc {
                .fz(15px,24px);
                .color(#848484);
                // padding: 0 20px;
                font-weight: 300;
            }
        }
    }

    .m-content {
        .mt(50px);
        min-height: 380px;
        background-color: #f8f8f8;

        .wp {
            position: relative;
            .w(100%);
            font-weight: 500;
        }

        .m-box {
            .size(650px, 200px);
            .flex;
            .r(5px);
            flex-direction: column;
            justify-content: center;
            border: 0.5px solid rgba(132, 132, 132, 0.5);

            .m-list {
                .flex;
                .w(500px);
                .mb(30px);
                flex-wrap: wrap;
                gap: 20px;

                .u-item {
                    min-width: 200px;
                    .pl(40px);
                    box-sizing: border-box;
                    background: url(../../../static/images/index/scene/dot.svg) left center no-repeat;
                    font-weight: 600;
                    color: #3C3C3C;
                    letter-spacing: 1px;
                    font-size: 18px;
                    font-family: PingFang-SC-Medium, PingFang-SC;
                }
            }

            .m-btn {
                .flex;
                gap: 20px;

                .u-btn {
                    .color(#cf0010);
                    .r(2px);
                    padding: 5px 12px;
                    border: 1px solid #cf0010;

                    &.red {
                        .color(#fff);
                        background-color: #cf0010;
                    }
                }
            }

            .u-title {
                .fz(20px);
                font-weight: 600;

                b {
                    .color(#cf0010);
                    font-weight: 600;
                }
            }

            .m-item {
                .flex;
                .fz(18px);
                width: 100%;
                gap: 50px;
                box-sizing: border-box;
                padding: 0 90px;
                justify-content: space-between;

                .u-item {
                    .flex;
                    flex-direction: column;

                    .u-num {
                        .fz(21px);
                        .pr(30px);
                        font-weight: 500;
                        background: url(../../../static/images/index/scene/up.svg) center right no-repeat;

                        b {
                            .fz(36px);
                            font-weight: 500;
                        }
                    }

                    .u-desc {
                        .color(#848484);
                        .x;
                        .ml(-2em);
                    }
                }
            }

            &.m-left {
                .mt(106px);
                .pl(80px);
                box-sizing: border-box;
                background-color: #fff;
            }

            &.m-right {
                .pa;
                .rt(0, 75px);
                align-items: center;
                background-color: #f8f8f8;
            }
        }
    }
}
