.m-index-scene {
    .m-tabs {
        .flex;
        justify-content: space-between;
        .mt(50px);
        .m-item {
            .flex;
            .w(285px);
            .r(5px); 
            .pointer;
            min-height: 300px;
            flex-direction: column;
            gap: 20px;
            box-sizing: border-box;
            padding:200px 20px 20px 20px;
            border: 1px solid rgba(151,151,151,0.8);
            background-repeat: no-repeat;
            background-position: top center; 
            background-size: 100%  185px;
            .u-img {
                .size(100%,150px);
            }
            .u-title {
                .flex;
                .fz(21px);
                gap: 10px;
                align-items: center;
                padding: 0 20px;
                .u-icon {
                    .size(30px);
                }
            }
            .u-desc {
                .fz(16px);
                .color(#848484);
                padding: 0 20px;
            }
        }
    }
    .m-content {
        .mt(50px);
        min-height: 380px;
        background-color: #f8f8f8;
    }
}
