.m-index-solution {
    .m-tabs {
        .flex;
        .mt(50px);
        .m-item {
            .flex;
            .fz(18px);
            .pointer;
            position: relative;
            min-width: 170px;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .u-img {
                .size(18px);
            }
            &:hover,
            &.active {
                .color(#CF0010);
                &::after {
                    content: "";
                    .db;
                    .pa;
                    .lb(50%,-20px);
                    .size(170px,3px);
                    .ml(-75px);
                    background-color: #cf0010;
                }
            }
        }
    }
    .m-content {
        .flex;
        .mt(40px);
        .size(100%,280px);
        justify-content: space-between;
        background-color: #f8f8f8;
        .u-img {
            .h(280px);
        }
        .m-item {
            .flex;
            .h(280px);
            .pl(60px);
            .fz(18px,1.8);
            min-width: 500px;
            box-sizing: border-box;
            flex-direction: column;
            align-items: flex-start;
            .u-title {
                .fz(24px);
                .mb(10px);
            }
            .u-desc {
                .color(#848484);
                .mb(20px);
            }
            .u-tags {
                .flex;
                min-height: 32px;
                gap: 10px;
                .u-tag {
                    .r(2px);
                    .lh(20px);
                    .color(#B2B2B2);
                    padding: 5px 18px;
                    border: 1px solid #b2b2b2;
                }
            }
        }
    }
}
