.m-all-text {
    padding: 75px 0 70px 0;
    background-color: #f8f8f8;
    .m-list {
        .mt(44px);
        .flex;
        gap: 10px;
        justify-content: space-between;

        .u-item {
            .flex;
            flex-direction: column;
            gap: 15px;
            padding: 40px;
            box-sizing: border-box;
            background-repeat: no-repeat;
            flex: 1;
            .u-title {
                .fz(21px,30px);
                font-weight: 500;
            }
        }
        &.u-half {
            flex-wrap: wrap;
            gap: 25px;
            .u-item {
                .r(5px);
                flex: auto;
                background-color: #fff;
                max-width: 587px;
                box-shadow: 0px 0px 5px 1px #e6e6e6;
            }
        }
    }
}
@media screen and(max-width:@phone) {
    .m-all-text {
        padding: 30px 0;

        .m-list {
            .mt(22px);
            gap: 10px;
            flex-direction: column;
            .u-item {
                gap: 5px;
                background-size: cover;
                background-repeat: no-repeat;
                .u-title {
                    .fz(20px,30px);
                }
            }
            &.u-half {
                gap: 16px;
                .u-item {
                    .r(5px);
                    max-width: 100%;
                }
            }
        }
    }
}
