.m-text-picture {
    padding: 75px 0;
    .m-cont {
        .flex;
        .mt(50px);
        gap: 60px;
        justify-content: space-between;
        .u-img {
            .size(437px,auto);
        }
        .u-item {
            .flex;
            flex-direction: column;
            gap: 14px;
        }
        .u-item + .u-item {
            .mt(25px);
        }
    }
}
