.m-contactUs {
    .pb(75px);
    .wp {
        .flex;
        .r(5px);
        .h(180px);
        padding: 25px 0;
        background: #ffffff;
        box-shadow: 0px 0px 5px 1px #e6e6e6;

        .u-title {
            .fz(21px,30px);
            font-weight: 500;
            color: #3c3c3c;
            letter-spacing: 1px;
        }
        .u-desc {
            .fz(18px,25px);
            font-weight: 400;
            color: #848484;
        }
        .m-left {
            padding: 0 50px;
            .flex;
            align-items: center;
            gap: 20px;
            .u-img {
                .size(65px);
            }
            .u-text {
                .flex;
                flex-direction: column;
                gap: 10px;
            }
            .u-button {
                .size(130px,50px);
                .r(5px);
                .x;
                .fz(18px,50px);
                .color(#fff);
                background-color: #cf0010;
                flex-shrink: 0;
                &:hover {
                    filter: brightness(110%);
                }
            }
        }
        .m-right {
            .flex;
            flex-direction: column;
            padding: 0 50px;
            width: 600px;
            flex-shrink: 0;
            box-sizing: border-box;
            gap: 10px;
            justify-content: center;
            border-left: 2px solid #e6e6e6;
        }
    }
}

@media screen and(max-width:@phone) {
    .m-contactUs {
        .pb(30px);
        margin: 0 20px;
        .wp {
            flex-direction: column;
            .h(auto);
            padding: 25px 0;
            gap: 20px;
            box-sizing: border-box;

            .u-title {
                .fz(21px,30px);
            }
            .u-desc {
                .fz(18px,25px);
            }
            .m-left {
                .w(100%);
                padding: 0 20px;
                flex-wrap: wrap;
                box-sizing: border-box;
                .u-img {
                    .size(65px);
                }

                .u-text {
                    order: 2;
                }
            }
            .m-right {
                .flex;
                padding: 0 20px;
                width: 100%;
                gap: 10px;
                border: 0;
            }
        }
    }
}
