.m-p-aboutBCS {
    .w(100%);
    .h(352px);
    background-color: #fff;
    .x;

    h2 {
        .db;
        .fz(36px, 50px);
        .pt(75px);
    }

    .m-bcs {
        padding: 63px 0 50px;
        .flex;
        justify-content: space-between;
        gap: 35px;

        p {
            .dbi;
            .fz(36px, 50px);

            span {
                .db;
                .h(50px);
                .w(100%);
                font-weight: 500;
                letter-spacing: 1px;
            }

            .tags {
                .fz(18px, 25px);
                .h(25px);
                color: #848484;
                .pt(10px);
                font-weight: normal;
            }
        }
    }
}

// 弹性云服务器
.m-p-ECS {
    .h(428px);

    .m-bcs {
        p {
            .fz(36px, 50px);

            span {
                .h(48px);
                font-size: 36px;
                font-weight: normal;
            }

            .tags {
                font-weight: 300;
            }
        }
    }
}

@media screen and (max-width: @phone) {
    .m-p-aboutBCS {
        .h(auto);
        h2 {
            .fz(24px, 30px);
            .pt(30px);
        }
        .m-bcs {
            .flex;
            padding: 30px 0;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;

            p {
                .fz(24px, 30px);
                span {
                    .h(30px);
                }

                .tags {
                    .fz(16px, 25px);
                    .h(auto);
                }
            }
        }
    }
    .m-p-ECS {
        .h(auto);
        .m-bcs {
            p {
                .fz(24px, 30px);
                span {
                    .h(30px);
                    font-size: 24px;
                }
            }
        }
    }
}
