.pm-dotCon {
    height: auto;
    background: #FFF;
    .pb(50px);

    .wp {
        font-weight: 400;
    }

    h2 {
        .db;
        .x;
        .pt(75px);
        .pb(50px);
        .fz(36px, 50px, 50px);
        font-weight: 400;
    }

    .m-tabs {
        .flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .m-item {
            .flex;
            .w(590px);
            cursor: default;
            .pr;
            height: auto;
            .clip;
            padding: 0 38px 50px 85px;
            flex-direction: column;
            gap: 20px;
            box-sizing: border-box;

            .u-pic {
                .pa;
                left: 0;
                top: 0;
                .size(60px);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .u-title {
                .db;
                width: 100%;
                .fz(18px, 20px);
                font-weight: 500;
                padding-bottom: 14px;
            }

            .u-desc {
                .db;
                width: 100%;
                .fz(15px, 26px);
                .color(#848484);
                font-weight: 300;
                white-space: pre-wrap;
                letter-spacing: 1px;
            }
        }
    }
}

// AI在线服务
.m-p-oSer {
    .h(auto);
    .pb(25px);

    .m-tabs {
        .m-item {
            width: 590px;
            height: auto;

        }

        // &::after {
        //     content: "";
        //     .db;
        //     .pa;
        //     .lt(0, 7px);
        //     .size(15px);
        //     background-color: #CF0010;
        //     .r(30px);
        //     .clip;
        // }
    }
}


//权威认可auth
.bcsAuth {
    background-color: #f8f8f8;
    .pb(75px);
    .h(auto);

    .m-tabs {
        .m-item {
            .size(590px, auto);
            .r(5px);
            box-sizing: border-box;
            background: #FFFFFF;
            box-shadow: 0px 0px 5px 1px #E6E6E6;
            padding: 30px 30px 30px 201px;
            .mb(25px);

            .u-title {
                .pb(15px);
            }

            .u-pic {
                .size(145px);
                left: 30px;
                top: 50%;
                transform: translateY(-50%);
                background-size: cover;

            }
        }
    }
}

.bcsAuth-1 {
    background-color: #fff;
    .h(auto);
    .pb(75px);

    .m-tabs {
        gap: 23px;
        justify-content: inherit;
        flex-wrap: nowrap;

        .m-item {
            .size(385px, 160px);
            .r(5px);
            box-sizing: border-box;
            background: #FFFFFF;
            box-shadow: 0px 0px 5px 1px #E6E6E6;
            padding: 23px 20px 23px 105px;

            .u-title {
                .pb(10px);
            }

            .u-pic {
                .size(65px);
                left: 20px;
                // top: calc(-145px / 2);
                top: 50%;
                .mt(calc(-65px / 2));
                background-size: 65px;
            }
        }
    }
}

// 弹性云服务器-产品优势
.ecs-dotcon {
    .h(auto);
    background-color: #F8F8F8;
    .clip;
    .pb(50px);

    .m-tabs {
        .w(100%);
        .db;

        .m-item {
            .size(100%, 337px);
            .r(5px);
            .clip;
            padding: 50px;
            box-shadow: 0px 0px 5px 1px #E6E6E6;
            background-color: #fff;
            .mb(25px);

            span {
                .pt(15px);
            }

            .u-pic {
                .size(400px, 320px);
                top: 0;
                bottom: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .u-desc {
                .lh(32px);
            }

            .u-con {
                .w(685px);
                .pa;
                .lt(50px, 40px);
            }
        }

        .pic-l {
            .u-con {
                left: 459px;
            }
        }

        .pic-r {
            .u-pic {
                right: 0;
                left: auto;
            }
        }
    }
}