.m-imgCon {
    height: auto;
    background: #F8F8F8;
    .pb(50px);

    .wp {
        font-weight: 400;
    }

    h2 {
        .db;
        .x;
        .pt(75px);
        .pb(50px);
        .fz(36px, 50px, 50px);
    }

    .m-tabs {
        .flex;
        flex-wrap: wrap;
        gap: 20px;

        .m-item {
            cursor: default;
            .pr;
            .clip;
            flex-direction: column;
            box-sizing: border-box;
            .size(385px, 250px);
            .r(5px);
            .mb(25px);
            box-shadow: 0px 0px 5px 1px #E6E6E6;
            padding: 0 33px 40px 33px;
            background-color: #fff;
            ;

            .u-pic {
                .pa;
                left: 50%;
                transform: translateX(-50%);
                top: 28px;
                .size(70px);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 70px;
            }

            .u-title {
                .db;
                width: 100%;
                .fz(21px, 29px);
                .x;
                .pb(15px);
                .pt(116px);
                font-weight: 500;
            }

            .u-desc {
                .db;
                width: 100%;
                .fz(16px, 28px);
                .color(#848484);
                font-weight: 300;
            }
        }
    }
}

// 产品与服务
.noimgCon {
    .m-tabs {
        .m-item {
            .u-pic {
                display: none;
            }

            .u-title {
                .pt(41px);
            }
        }
    }
}

//云数据仓库-精品案例
.p-cdw {
    background-color: #fff;

    .m-tabs {
        .m-item {
            .size(590px, 287px);

            .u-pic {
                .size(490px, 105px);
                .lt(50%, 20px);
                transform: translateX(-50%);
                background-size: contain;
            }

            .u-title {
                .pt(145px);

            }
        }
    }
}

// bcs产品优势
.bcsBg {
    background: #fff;

    .m-tabs {
        .m-item {
            box-shadow: none;

            .u-pic {
                top: 0;
                .size(60px);
                background-size: cover;
            }

            .u-title {
                .pt(75px);
            }
        }
    }
}
