.m-p-pInfo {
    .w(100%);
    .pb(50px);
    background-color: #fff;

    h2 {
        .db;
        .fz(36px, 50px);
        .pt(90px);
        .x;
        .pb(25px);
    }

    .infoImg {
        height: 1000px;
        background-position: top center;
        background-size: auto 1000px;
    }
}

@media screen and(max-width:@phone) {
    .m-p-pInfo {
        .pb(30px);

        h2 {
            .fz(24px,30px);
            padding: 30px 0;
        }

        .infoImg {
            .size(100%,auto);
            min-height: 360px;
            background-size: cover;
        }
    }
}
