.m-p-sceneUse {
    background: #fff;
    .pb(75px);

    .wp {
        font-weight: 400;
    }

    h2 {
        .db;
        .x;
        .pt(75px);
        .pb(50px);
        .fz(36px, 50px, 50px);
    }

    .m-Scontent {
        .flex;
        .size(100%, auto);
        .r(5px);
        background-color: #fff;
        overflow: hidden;
        box-sizing: border-box;
        padding: 50px 74px;
        box-shadow: 0px 0px 5px 1px #E6E6E6;

        .u-img {
            .w(446px);
            padding-right: 85px;
            .flex;
            align-items: center;

            img {
                .dbi;
                max-width: inherit;
                .size(446px, auto);
            }
        }

        .m-item {
            .fz(18px, 1.8);
            .flex;

            .u-title {
                .fz(24px, 35px);
                .db;
                .w(100%);
                font-weight: 500;
            }

            .u-tags {
                .db;
                .w(100%);
                .mt(20px);

                span {
                    .db;
                    color: #848484;
                    .fz(18px, 35px);
                }
            }
        }
    }
}